<header class="nav-header">
  <button class="button" routerLink="/menu">Go back to Menu</button>
  <h3>{{ category }}</h3>
</header>
<div class="container">
  <div class="wrapper">
    <table>
      <tr>
        <th>No.</th>
        <th>Meal ID:</th>
        <th>Meal name:</th>
        <th>Meal thumbnail</th>
      </tr>
      <tr
        *ngFor="let meal of meals | paginate: paginationObj"
        (click)="seeDetails(meal.idMeal)"
      >
        <td>{{ meals.indexOf(meal) + 1 }}</td>
        <td>{{ meal.idMeal }}</td>
        <td>
          <h3>{{ meal.strMeal }}</h3>
        </td>
        <td>
          <img
            class="img-thumbnail"
            src="{{ meal.strMealThumb }}"
            alt="meal-thumbnail"
          />
        </td>
      </tr>
    </table>
    <pagination-controls
      id="basicPaginate"
      (pageChange)="pageChanged($event)"
    ></pagination-controls>
  </div>

  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
