<div class="wrapper">
  <div class="buttons">
    <button class="btn btn-primary">Menu</button>
    <button class="btn btn-primary">About</button>

    <div class="content">
      <h1>Welcome to Picasso Dinner restourant</h1>
      <p>
        In the past, the main meal – dinner – was eaten at midday, before it got
        too dark. But affordable candles and, later, gaslight saw dinner shift.
        By the mid-1800s people were dining later. People working in the cities
        were taking a ‘lunch’ to work and having their main meal at 5.00pm when
        they got home, while in rural areas the main meal was still taken at
        midday. Even today, depending where you are in the British Isles,
        ‘dinner’ might be served at lunchtime, suppertime or, indeed,
        dinnertime! This made ‘Dinner’ the natural choice for its typically
        British quirky history and linguistic playfulness. If nothing else, I
        hope it’s easy to remember.”
      </p>
    </div>
  </div>
</div>
