<header class="nav-header">
  <button class="button" routerLink="/menu">Go back to Menu</button>
  <input #inputVal type="text" />
  <button class="search-button" (click)="getValue(inputVal.value)">
    Search
  </button>
  <h3>{{ area }}</h3>
</header>

<div class="container">
  <div class="wrapper">
    <table>
      <div class="statementDiv" *ngIf="statement">
        <h3>
          Sorry, no search result for {{ inputVal.value }}, please go back to
          meals
        </h3>
        <button (click)="getBackToMeals()">Go Back</button>
      </div>
      <tr>
        <th>Meal ID:</th>
        <th>Meal name:</th>
        <th>Meal thumbnail</th>
      </tr>
      <tr
        *ngFor="let meal of mealsArea | paginate: paginationObj2"
        (click)="seeDetails(meal.idMeal)"
      >
        <td>{{ meal.idMeal }}</td>
        <td>
          <h3>{{ meal.strMeal }}</h3>
        </td>
        <td>
          <img
            class="img-thumbnail"
            src="{{ meal.strMealThumb }}"
            alt="meal-thumbnail"
          />
        </td>
      </tr>
    </table>
    <pagination-controls
      id="basicPaginate2"
      (pageChange)="pageChanged($event)"
    ></pagination-controls>
  </div>
  <div class="wrapper wrapper-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
