<header class="nav-header">
  <button class="button" (click)="goBackToMenu()">Go back to Menu</button>
  <h3>All Categories</h3>
  <input #inputVal type="text" />
  <button class="search-button" (click)="getValue(inputVal)">Search</button>
</header>
<div class="container">
  <div class="wrapper wrapper-left">
    <table>
      <div class="statementDiv" *ngIf="statement">
        <h3>
          Sorry, no search result for {{ inputVal.value }}, please go back to
          meals
        </h3>
        <button (click)="getBackToMeals()">Go Back</button>
      </div>
      <tr>
        <th>No.</th>
        <th>Meal name:</th>
        <th>Meal ID:</th>
        <th>Meal thumbnail</th>
      </tr>
      <tr
        *ngFor="let meal of allCategories | paginate: paginationObj"
        (click)="seeDetails(allCategories.indexOf(meal))"
      >
        <td>{{ allCategories.indexOf(meal) + 1 }}</td>
        <td>
          <h3>{{ meal.strCategory }}</h3>
        </td>
        <td>{{ meal.idCategory }}</td>
        <td>
          <img
            class="img-thumbnail"
            src="{{ meal.strCategoryThumb }}"
            alt="meal-thumbnail"
          />
        </td>
      </tr>
    </table>
    <pagination-controls
      id="basicPaginate"
      (pageChange)="pageChanged($event)"
    ></pagination-controls>
  </div>
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
